.banner {
    max-width: 1320px;
    margin: 0 auto;
    &-content{
        &-child {
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.5rem;
            };
        }
    }
}