.item {
    margin: 30px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    column-gap: 50px;
    &-content{
        &-card{
            .card {
                border: none;
                text-align: center;
                align-items: center;
                position: relative;
                &-top{
                    background-color: #007bff;
                    border-radius: 5px;
                    padding: 10px 0;
                    width: 70px;    
                    position: absolute;
                    bottom: 100px;
                    i {
                        font-size: 2rem;
                        color: white;
                    }
                }
                &-body {
                    text-align: center;
                    padding: 0;
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}